.about__bio {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
    color: white;
    font-size: 23px;
}
.about__bandBioText {
    margin-left: 5%;
    margin-right: 5%;
}
@media only screen and (max-width: 750px) {
    .about__bio {
        flex-direction: column;
    }
}
@media only screen and (max-width: 500px) {
    .about__bio {
        font-size: 20px;
    }
    .about__bandBioText {
        margin-bottom: 17px;
    }
}
@media only screen and (max-height: 400px) {
    .about__bio {
        flex-direction: column;
    }
}