.aboutPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.aboutPage__header {
    height: auto;
}
.aboutPage__footer {
    height: auto;
}
@media only screen and (max-width: 750px) {

}
@media only screen and (max-width: 500px) {

}
@media only screen and (max-height: 400px) {

}