.header {
    height: 120px;
    width: 98.5vw;
    display: flex;
    align-items: center;
}
.header__container {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__buttonHome {
    border: none;
    height: 100%;
    width: 200px;
    cursor: pointer;
    background: none;
    margin: 3px;
}
.header__button {
    border: none;
    height: 100%;
    width: 150px;
    cursor: pointer;
    background: none;
    margin: 3%;
}
.header__buttonText {
    color: whitesmoke;
    font-size: large;
}
.header__icon {
    object-fit: contain;
    width: 100%;
    height: auto;
}
.header__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  