body > #root > div {
    width: 100%;
}
.home__page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.home__header {
    height: auto;
    margin-top: -30px;
    margin-bottom: -40px;
}
.home__containerTop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    width: 100%;
    height: auto;
}
.home__containerCenter {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}
.home__welcomeText {
    font-size: 70px;
    margin: 2%;
    font-weight: 1000;
}
.home__tagline {
    font-size: 25px;
    flex-wrap: wrap;
    width: 33%;
    margin: 2%;
}
.home__containerBottom {
    margin-bottom: 2%;
    display: flex;
    width: 100%;
    justify-content: center;
}
.home__imageTop {
    display: flex;
    width: 100%;
}
.home__demoVideo {
    display: flex;
    object-fit: contain;
    max-width: 95%;
}
.home__footer {
    z-index: 100;
}
@media only screen and (min-width: 1000px) {
    /* .home__logo {
    }
    .home__demoVideo {
        z-index: 95;
    } */
}
@media only screen and (min-width: 1200px) {
    /* .home__page {
        height: auto;
        margin-bottom: -25px;
    }
    .home__containerBottom {
        height: auto;
        margin-bottom: -30px;
    }
    .home__containerTop {
        height: auto;
        align-content: unset;
    }
    .home__logo {
        height: 250px;
    } */
}
@media only screen and (min-width: 501px) {
    /* .home__containerBottom {
        flex: 1;
        align-items: center;
    }
    .home__containerTop {
        flex: 1;
        align-items: center;
    } */
}
@media only screen and (max-width: 500px) {
    .home__welcomeText {
        font-size: 40px;
    }
    .home__header {
        margin-top: -10px;
        margin-bottom: 1px;
    }
    .home__tagline {
        font-size: 18px;
    }
    .home__demoVideo {
        max-width: 95%;
    }
    .home__containerBottom {
        margin-top: -72px;
        margin-bottom: 40px;
        z-index: 0
    }
    .home__containerCenter {
        margin-top: 20px;
        margin-bottom: -72px;
        z-index: 10;
    }
    .home__footer {
        margin-top: 25px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-height: 400px) {
    .home__containerCenter {
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .home__header {
        margin-bottom: 1px;
    }
    .home__footer {
        margin-top: 25px;
        margin-bottom: 7px;
    }
    
}
@media only screen and (max-height: 750px) and (min-width: 1000px), (min-width: 1200px) {
    /* .home__logo {
    }
    .home__demoVideo { 
        padding-top: 15px;
    } */
}
