.services__page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.services__container {
    width: 100%;
    align-items: center;
    justify-content: center;
}
.services__header {
    height: auto;
}
.services__footer {
    height: auto;
}
.services__imageContainer {
    width: 100%;
}
.services__mainImage {
    width: 100%;
}
.services__tabsContainer {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    justify-content: space-evenly;
}
.services__sectionContainer {
    width: 100%;
    display: flex;
    /* padding-top: 20px;  */
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.services__title {
    color: gold;
    font-size: 35px;
    border: gold;
    border-style: solid;
    border-width: 3px;
    padding: 5px;
    font-weight: 600;
    padding-left: 40px !important;
    padding-right: 40px !important;
    border-radius: 5px;
}
.services__mainSection {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.services__mainSectionColumn {
    width: 48%;
}
.services__mainSectionCocktailColumn {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 2%;

}
.services__sectionTitle { 
    height: 35px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.services__sectionTitleText {
    height: 100%;
    width: 100%;
    font-size: 30px;
    color: white;
    background: none;
    text-decoration-line: underline;
}
.services__section {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
}
.services__sectionDetails {
    color: white;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 22px;
}
.services__sectionCocktail {
    margin-bottom: 5px;
    margin-top: 5px;
}
.services__sectionCocktailTitleContainer {
    text-align: center;
}
.services__mainSectionImage {
    object-fit: contain;
    max-width: 100%;
    margin-top: 30px;
}
.services__mainSectionCeremony {
    width: 90%;
    justify-content: space-around;
}
.services__mainSectionCeremonyRow {
    display: flex;
    width: 100%;
}
.services__sectionCeremony {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* .services__sectionCeremonyTitleContainer {
    text-align: center;
} */
.services__mainSectionCeremonyColumn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}
.infoForAllContainer {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
.infoForAllTitle {
    font-size: 30px;
    color: white;
    /* text-align: center; */
    text-decoration-line: underline;
}
.infoForAllDetails {
    color: white;
    margin: 4px;
    font-size: 22px;
}
.services__mainSectionCocktail {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.services__videoCocktail {

}
@media only screen and (max-width: 1100px) {
    .services__mainSectionCeremonyColumn {
        flex-direction: column;
        justify-content: none;
        display: flex;
    }
    .services__mainSectionCeremony {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .services__mainSectionCeremonyRow {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
}
@media only screen and (max-width: 900px) {
    
    .services__mainSectionCocktail {
        width: 95%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .services__mainSectionColumn {
        width: 95%;
    }
    #mainSection1 {
        flex-direction: column;
        text-align: center;
    }
    .services__mainSectionImage {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 500px) {
    .services__mainSectionCeremonyRow {
        display: flex;
        width: 100%;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        text-align: center;
    }
    .services__mainSectionCeremonyColumn {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .services__sectionContainer {
        width: 100%;
        justify-content: center;
    }
    .services__mainSectionCeremony {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .services__mainSectionCocktailColumn {
        width: 100%;
    }
    .services__title {
        font-size: 30px;
    }
    .services__sectionTitleText {
        font-size: 23px;
    }
    .infoForAllTitle {
        text-align: center;
        font-size: 25px;
    }
}